#Comment
version: 2.1
jobs:
  first:
    docker:
      - image: ubuntu:latest
    steps:
      - run: echo "First trial"
      - checkout
      - run: pwd
      - run: ls
      - run: cat README.md
workflows:
  version: 2
  first_workflow:
    jobs:
      - first